@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box !important;
}

h1 {
  @apply text-2xl text-black font-semibold mb-2 uppercase;
}

h2 {
  @apply text-6xl font-semibold text-white  mb-6;
}

.sidebar {
  @apply flex-none grow-0 text-gray-500 p-12 overflow-y-scroll scrollbar-hide h-screen;
}

input {
  @apply border rounded p-2 w-full;
}

.card {
  @apply flex justify-between border rounded-lg mb-3 p-5 cursor-pointer;
}

.sm-h {
  @apply text-xs uppercase;
}

footer {
  @apply relative top-[75%] text-center;
}

/* CENTER */

.Center-header {
  @apply flex text-white text-6xl;
}

.forecast-box {
  @apply flex-col my-5 text-center;
}

.card {
  @apply flex-col p-5 rounded-3xl bg-white;
}

.progressbar-wrapper {
  position: relative;
  z-index: 1;
}

.progressbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(121, 203, 255);
  z-index: -1;
}
