@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-2xl text-black font-semibold mb-2;
}

.sidebar {
  @apply flex-none text-gray-500 p-5 border-r border-gray-200 overflow-y-scroll scrollbar-hide h-screen;
}

input {
  @apply border rounded p-2 w-full;
}

.card {
  @apply flex justify-between border rounded-lg mb-3 p-5;
}

.sm-h {
  @apply text-xs uppercase;
}

footer {
  @apply relative top-[75%] text-center;
}
